.main h1 {
  font-size: 38px;
  font-weight: 300;
  line-height: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main {
  font: 100% "Helvetica Neue",Helvetica,Arial,Sans-serif;
  color: #000;
  letter-spacing: 0px;
  clear: both;
  text-align: left;
}

.footer{
  font: 100% "Helvetica Neue",Helvetica,Arial,Sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;  
  padding-bottom: 30px;
  padding-top: 0px;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}