<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Quaddle</title>
</head>
<body>
   <div class="main">
    <h1>
        <strong>Quaddle</strong> the four let_er game</h1>
   
   <div class="row">
    <H3>Tutorial</H3>
    <h4>  _ → not in the word</h4>
    <H4>  * → in the word, but wrong place</H4>
   </div>
   <div class="row">
    <H3>Game</H3>
        <div class="column">
            <form action="/guess_submitted" method="post">
                <label for="guess_label">Guess the word?</label>
                <input type="text" id="guess" name="guess"> 
                <button type="submit">Guess</button>
            </form>
            {{ session['display_last_guess'] }}
            <H6>{{ session['display_error'] }}</H6>
        </div>
        <div class="column">
            {% if session['guess_list'] is defined and session['guess_list']|length > 0 %}
                <b>Guesses</b>
            {% endif %}
            {% for guess in session['guess_list'] %}
                <p>{{guess}}</p>
            {% endfor %}
        </div>  
    </div>
</div>
    <div class="footer">
        <p>Fin, Zane & Stephen © 2022</p>
    </div>
</body>
</html>